body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.header{
    width: 100%;
    height: 60px;
}

.nav{
    display: flex;
    justify-content: flex-end;

}
.ul{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.ul li a{
    margin-right: 10px;
    color: #000000;

}
.menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}
.profile{
    border-radius: 50%;
    margin-left: 10px;
 
}
img {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.container-1 {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.search{
    width: 40%;
    border-radius: 10px;
    height: 30px;
    margin-top: -50px;
    text-decoration: none;
    outline: none;
    border: 1px solid #39c;
}
.botones{

    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding-top: 30px;

}

.buscar{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(7, 13, 16);
}

.lucky{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(7, 13, 16);
}

.footer-principal{
    display: flex;
    justify-content: space-evenly;
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: 70757a;
    gap: 1rem;

}

.footer-1{
 
    border-radius: 10px;
}
